<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            About Us
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-avatar>
            <ion-img src="./assets/icon/pic.jpg"></ion-img>
        </ion-avatar>
        <ion-card-header>
            <ion-card-title>Alfian Naufal Ilhami</ion-card-title>
            <ion-card-subtitle>00000022172 - AL</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-text>
                Tugas ini dibuat bersama Akmal & Sagita. Lalu, Menggunakan Modul & Tugas mingguan, dan Youtube sebagai Basisnya
            </ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>