<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Product</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img [src]="loaded.foto"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        {{loaded.merek}} {{loaded.model}}
                        <br>Harga: Rp. {{loaded.harga}}
                        <br>Stok: {{loaded.stok}}
                    </ion-item>
                    <ion-item *ngIf="loaded.id.includes('ram')">
                        Spesifikasi :
                        <br> Speed : {{loaded.speed}}
                        <br> Ukuran : {{loaded.ukuran}}
                    </ion-item>
                    <ion-item *ngIf="loaded.id.includes('mb')">
                        Spesifikasi :
                        <br> Chipset : {{loaded.chipset}}
                        <br> Untuk Processos : {{loaded.processor}}
                    </ion-item>
                    <ion-item *ngIf="loaded.id.includes('cpu')">
                        Spesifikasi :
                        <br> Base Clock : {{loaded.baseclk}}
                        <br> Boosted Clock : {{loaded.boostclk}}
                        <br> Core : {{loaded.core}} Thread : {{loaded.thread}}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>